section#channels {
    font-size: 3vh;
    text-align: left;
    height: 65vh;
    overflow: auto;
}
li#channel {
    color: black;
    background-color: #9bb1fa;
    border: 0.4vh solid #032227;
    display: inline-block;
    margin-bottom: 1vh;
    margin-right: 2vh;
    transition: transform 0.3s ease;
    padding: 1vh;
}
li#channel:hover {
    transform: scale(0.95);
}

footer {
    bottom: 0;
    width: 100%;
    height: 13vh;
    text-align: right;
    background-color: #AC0634;
    color: white;
    z-index: -1;
    font-size: 2vh;
}
footer p {
    text-align: right;
    padding-right: 3vh;
}

/* Cointainer entails messages */
.container {
    max-width: 60vw; /* Set a maximum width for the content */
    margin: 0 auto; /* Center the container horizontally */
}

.message-container {
    padding: 10px;
    border-radius: 10px;
    margin: 10px;
    display: block; /* Set display to block */
    clear: both; /* Ensure each message starts a new row */
}

.left-message {
    text-align: left;
    background-color: lightblue;
    margin-right: 25%; /* Add a margin to push the left-message to the left */
}

.right-message {
    text-align: right;
    background-color: lightgreen;
    margin-left: 25%; /* Add a margin to push the right-message to the right */
}

.timestamp {
    text-align: right;
}

/* loading Indicator to visualize waiting */
#loadingIndicator {
    display: none;
}

.loading-dot {
    display: inline-block;
    width: 10px;
    height: 10px;
    background-color: black;
    border-radius: 50%;
    margin-right: 5px;
}

@keyframes blink {
    0% { opacity: 0; }
    50% { opacity: 1; }
    100% { opacity: 0; }
}

.loading-dot:nth-child(1) {
    animation: blink 1s infinite;
}

.loading-dot:nth-child(2) {
    animation: blink 1s infinite 0.33s;
}

.loading-dot:nth-child(3) {
    animation: blink 1s infinite 0.66s;
}

hr {
    height: 0.3vh;
    width: 100%;
    background-color: #000;
    border: none;
    margin: 0;  
    }