<!DOCTYPE html>
<html>
    <head>
        
        <title>Gugel-Search Engine</title>
        <link rel="icon" type="image/x-icon" href="{{ url_for('static', filename='images/favicon.ico') }}">
        <link rel="stylesheet" href="{{ url_for('static', filename='mystyle.css') }}">

       
    </head>

    <body>

        <section id="name">
            <!--The name of our searchEngine nicely presented-->
            <b>
                <font color="#e81416">G</font>
                <font color="#ffa500">U</font>
                <font color="#faeb36">G</font>
                <font color="#79c314">E</font>
                <font color="#487de7">L</font>
            </b>
        </section>
        
        <!--The Search Bar and Button-->
        <section id="searchBar">
            <form action="{{ url_for('search') }}" method='get'>
                <label for="field">Search:</label>
                <input type='search' id="field" name='q' value = '{{req}}' ></input>
                <input type="submit" value="Submit"></input>
            </form>         
        </section>

        <!--Shows amount of matches-->
        <div style="padding-left: 2vh; font-size: 3vh; font-weight: bold;"> <!-- Offset looks better in this line -->
            {{ match }}{% if req_corrected %} Do you mean <a href="{{ url_for('search', q=req_corrected) }}">{{req_corrected}}</a>?{% endif %}
        </div>
        
        <hr />
        
        <section id="matches">
                <table>
                    <ul id="container">
                        <!--Loops through the results and shows-->
                        {% for i,j,k in result[num - 1] %}
                            <a href="{{j}}" style="text-decoration: none;">
                                <ul id="match">
                                    <!-- Log for the Website, if we want to add this, we need the url to the logo itself -->
                                    <!--<img src="We need to enter the url here" alt="Website Logo" width="50" height="50">-->
                                    
                                    <!-- Titel,Url and highlighted content -->
                                    <b><font style="font-size: 3vh;">{{i}}</font></b><br />
                                    <u><font style="font-size: 1vh;">{{j}}</font></u><br />                                                        
                                    <font style="font-size: 2vh;">{{k|safe}}</font><br /><br />
                                </ul>
                            </a>  
                        {% endfor %}
                    </ul>
                    <!-- Button to load more matches -->
                    {% if pagecount > 1 or result|length >= num %}
                        <!-- Lower Bound -->
                        {% if num > 1 %}
                            <form action="{{ url_for('load_more', num=num - 1) }}" method="post">
                                <input type="submit" value="Go Back">
                            </form>
                        {% endif %}
                        <!-- Upper Bound -->
                        {% if num < pagecount or num < result|length %}
                            <form action="{{ url_for('load_more', num=num + 1) }}" method="post">
                                <input type="submit" value="Load More">
                            </form>
                        {% endif %}
                    {% endif %}
                </table>                       
        </section> 
        
        <hr />   
        
        <footer>
            <p>Created for the course Artificial Intelligence and the Web</p>
            <p>Author: Eosandra Grund(<a href="mailto:egrund@uos.de">egrund@uos.de</a>), Fabian Kirsch(<a href="mailto:fkirsch@uos.de">fkirsch@uos.de</a>)</p>
        </footer>        
    
    </body>
     
</html>