{% extends "flask_user_layout.html" %}
{% block content %}
<div class="container">
    <h2>Movies</h2>
    {% if path_to_follow == 'movies' %}
        <p><a href="{{ url_for('rating_page')}}">Reload</a> </p>
    {% elif path_to_follow == 'ratings' %}
        <p><a href="{{ url_for('rating_page')}}">Reload</a> </p>
    {% endif %}
    <!-- Lists every movie in the given List -->
    {% for m, r in movies %}
        <div id="movie_{{ m.id }}" class="panel panel-default">
            <!-- Anchor tag to the movie panel -->
            <a id="{{ m.id }}"></a>
            <!-- Anchor tag for every 10th movie -->
            {% if loop.index is divisibleby(10) %}
                {% set page_number = loop.index // 10 %}
                <a id="page_{{ page_number }}"></a>
            {% endif %}
            <!-- href to the given movie -->
            <div class="panel-heading"><b><a href = "{{m.links[0].link}}" >{{ m.title }}</a></b></div>
            <div class="panel-body">
                <!-- Lists genres -->
                <p>
                    <b>Genres: </b>
                    {% for g in m.genres %}
                        <span class="label label-default">{{ g.genre }}</span>
                    {% endfor %}
                </p>
                <!-- Lists tags -->
                <p>
                    <b>User tags: </b>
                    {% for t in m.tags %}
                        <span class="label label-default">{{ t.tag }}</span>
                    {% endfor %}
                </p>
            </div>
            <div class="panel-footer">
                Rate:
                {% if path_to_follow == 'movies' %}
                    <form action="{{ url_for('movies_page')}}#{{m.id}}" method="POST">
                {% elif path_to_follow == 'ratings' %}
                    <form action="{{ url_for('rating_page')}}#{{m.id}}" method="POST">
                {% endif %}
                    <!-- Button Container for ratings -->
                    <div class="star_container" id="star_container{{ m.id }}">
                            
                            <button type="hidden" class="card-link {% if r > 4 %}filled{% endif %}" name="rating" value="{{m.id}},5"></button>
                            <button type="hidden" class="card-link {% if r > 3 %}filled{% endif %}" name="rating" value="{{m.id}},4"></button>
                            <button type="hidden" class="card-link {% if r > 2 %}filled{% endif %}" name="rating" value="{{m.id}},3"></button>
                            <button type="hidden" class="card-link {% if r > 1 %}filled{% endif %}" name="rating" value="{{m.id}},2"></button>
                            <button type="hidden" class="card-link {% if r > 0 %}filled{% endif %}" name="rating" value="{{m.id}},1"></button>
                    </div>
                </form>

                <p style="text-align: right;"> Average User Rating: {{ m.average_ratings() }} </p>
            </div>
        </div>
    {% endfor %}
    <!-- Load more button to get more entries -->
    {% if path_to_follow == 'movies' %}
        <form id="loadMoreForm" action="{{ url_for('movies_page')}}#page_{{ page + 1 }}" method="POST">
    {% elif path_to_follow == 'ratings' %}
        <form id="loadMoreForm" action="{{ url_for('rating_page')}}#page_{{ page + 1 }}" method="POST">
    {% endif %}
        <button type="submit" name="load_more" value="{{page + 1}}">Load More</button>
    </form>
    <!-- Anchor tag at the bottom of the page -->
    <a id="bottom"></a>

</div>

{% endblock %}