{% extends "flask_user_layout.html" %}
{% block content %}
<div class="container">
    <h2>Movies</h2>

    {% for m, r in movies %}
        <div id="movie_{{ m.id }}" class="panel panel-default">
            <div class="panel-heading"><b><a href = "{{m.links[0].link}}" >{{ m.title }}</a></b></div>
            <div class="panel-body">
                <p>
                    <b>Genres: </b>
                    {% for g in m.genres %}
                        <span class="label label-default">{{ g.genre }}</span>
                    {% endfor %}
                </p>
                <p>
                    <b>User tags: </b>
                    {% for t in m.tags %}
                        <span class="label label-default">{{ t.tag }}</span>
                    {% endfor %}
                </p>
            </div>
            <div class="panel-footer">
                Rate:
                <form action="/movies" method="POST">
                    <div class="star_container">
                        <button type="hidden" class="card-link {% if r > 4 %}filled{% endif %}" name="rating" value="{{m.id}},5"></button>
                        <button type="hidden" class="card-link {% if r > 3 %}filled{% endif %}" name="rating" value="{{m.id}},4"></button>
                        <button type="hidden" class="card-link {% if r > 2 %}filled{% endif %}" name="rating" value="{{m.id}},3"></button>
                        <button type="hidden" class="card-link {% if r > 1 %}filled{% endif %}" name="rating" value="{{m.id}},2"></button>
                        <button type="hidden" class="card-link {% if r > 0 %}filled{% endif %}" name="rating" value="{{m.id}},1"></button>
                    </div>
                </form>
                <p style="text-align: right;"> Average User Rating: {{ m.average_ratings() }} </p>
            </div>
        </div>
    {% endfor %}
    {{ movies|list|length }}
    {% if page*10 < movies|list|length %}
    <form action="/movies" method="POST">
        <button type="submit" name="inc_page" value="{{page + 1}}">Page {{page + 2}} </button>
    </form>
    {% endif %}
    {% if page > 1 %}
    <form action="/movies" method="POST">
        <button type="submit" name="inc_page" value="{{page - 1}}">Page {{page - 1}} </button>
    </form>
    {% endif %}
</div>

{% endblock %}