{% extends "flask_user_layout.html" %}
{% block content %}
<div class="container">
    <h2>Movies</h2>

    {% for m in movies %}
        <div id="movie_{{ m.id }}" class="panel panel-default">
            <div class="panel-heading"><b><a href = "{{m.links[0].link}}" >{{ m.title }}</a></b></div>
            <div class="panel-body">
                <p>
                    <b>Genres: </b>
                    {% for g in m.genres %}
                        <span class="label label-default">{{ g.genre }}</span>
                    {% endfor %}
                </p>
                <p>
                    <b>User tags: </b>
                    {% for t in m.tags %}
                        <span class="label label-default">{{ t.tag }}</span>
                    {% endfor %}
                </p>
            </div>
            <div class="panel-footer">
                Rate:
                <div class="star_container">
                    <a href="#movie_{{ m.id }}" class="card-link {% if is_star_filled %}filled{% endif %}"></a>
                    <a href="#movie_{{ m.id }}" class="card-link {% if is_star_filled %}filled{% endif %}"></a>
                    <a href="#movie_{{ m.id }}" class="card-link {% if is_star_filled %}filled{% endif %}"></a>
                    <a href="#movie_{{ m.id }}" class="card-link {% if is_star_filled %}filled{% endif %}"></a>
                    <a href="#movie_{{ m.id }}" class="card-link {% if is_star_filled %}filled{% endif %}"></a>
                </div>
                <p style="text-align: right;"> Average User Rating: {{ m.average_ratings() }} </p>
            </div>
        </div>
    {% endfor %}
</div>

{% endblock %}