<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>List of channels</title>    
    <!-- Use separate .css file -->
    <link rel="stylesheet" href="{{ url_for('static', filename='mystyle.css') }}">
</head>
<body>

<h1>List of message channels</h1>

<hr />

<section id="channels">
    <ul>
        {% for channel in channels %}
            <li id="channel"><a href="{{ url_for('show_channel', channel=channel.endpoint) }}">{{ channel.name }}</a></li>
        {% endfor %}
    </ul>
</section>
<hr />
</body>

<footer>
    <p>Created for the course Artificial Intelligence and the Web</p>
    <p>Author: Eosandra Grund(<a href="mailto:egrund@uos.de" style="color: #a1a5ff;">egrund@uos.de</a>), 
        Fabian Kirsch(<a href="mailto:fkirsch@uos.de" style="color: #a1a5ff;">fkirsch@uos.de</a>)</p>
</footer>

</html>